# ==============================================================================
# 前端工程专用 .gitignore
# 作用：让 Cursor 性能飞起
# ==============================================================================

# 1. 核心构建产物与编译输出
**/dist/
**/out/
**/.next/
**/.nuxt/
**/.pnpm-store/

# 2. 依赖管理包（这个必须 Git 忽略，打死不能上传）
**/node_modules/
**/bower_components/

# 3. 日志与本地缓存
**/logs/
**/*.log
**/.eslintcache
**/.stylelintcache

# 4. IDE、编辑器及系统特定配置
.idea/
.vscode/
.DS_Store
Thumbs.db